@import url("/src/components/colors.css");
#sobre_mi {
  height: 500px;
  width: 100%;
  display: flex;
}
.performance {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
}
.img_performance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img_performance img {
  width: 80%;
  border-radius: 50%;
  cursor:move;
}
.name {
  color: var(--Tittles);
  text-transform: uppercase;
  font-size: 46px;
  word-spacing: 15px;
}
.contact_details,
.social a {
  color: var(--white);
}
.contact_details {
  font-size: 19px;
}
.img_performance {
  width: 50%;
}
.social{
  height: 56px;
  display: flex;
  align-items: center;
}
.social a {
  font-size: 36px;
  margin-right: 15px;
  color: var(--white);
  transition: 0.3s all ease;
}
.social a:hover {
  color: var(--Tittles);
  transition: 0.3s all ease;
  font-size: 40px;
}
.frontEndMentor {
  background: var(--white);
  border-radius: 3px;
  width: 36px;
  transform: translateY(5px);
  transition: 0.3s all ease;
}
.frontEndMentor:hover {
  background: var(--Tittles);
  transition: 0.3s all ease;
  scale: 1.2;
}
.description p {
  color: var(--white);
  font-size: 25px;
  line-height: 40px;
  word-spacing: 10px;
  letter-spacing: 1px;
}
.blue_text {
  color: var(--Tittles);
}
@media screen and (max-width: 717px) {
  #sobre_mi {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    height: max-content;
  }
  .performance {
    width: 100%;
    margin-bottom: 80px;
    text-align: center;
  }
  .img_performance {
    height: 300px;
  }
  .description {
    text-align: center;
  }
}
@media screen and (max-width: 571px) {
  .img_performance {
    height: 300px;
    width: 100%;
  }
  .img_performance img {
    width: 60%;
  }
}
@media screen and (max-width: 490px) {
  .name {
    font-size: 35px;
  }
  .social{
    justify-content: center;
  }
}
