@import url("/src/components/colors.css");
#navbar_container {
  height: 90px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 0 200px;
}
#block_navbar {
  box-shadow: 0 10px 10px -5px rgba(0, 0, 255, 0.5);
}
.btn_hamburger,
.x {
  display: none;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 20px;
  right: 800px;
}
.logo_container {
  border-radius: 34px;
  background: #0073cc;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 140px;
  height: 45px;
  font-style: italic;
  cursor: pointer;
  margin-top: 4px;
}
li {
  color: var(--white);
  cursor: pointer;
  list-style: none;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  padding: 5px 10px;
  overflow: hidden;
  width: 140px;
  height: 45px;
  gap: 5px;
  border-radius: 10px;
  right: 200px;
}
.options li::after {
  content: "";
  background-color: var(--Tittles);
  width: 165px;
  height: 45px;
  position: absolute;
  left: 150px;
  transition: 0.5s ease all;
  z-index: -1;
  border-radius: 10px;
}
a:hover li::after{
  left: 0;
  transition: 0.5s ease all;
  color: var(--white);
}
a {
  text-decoration: none;
}
@media screen and (max-width: 1025px) {
  #navbar_container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 768px) {
  .options {
    position: fixed;
    height: 350px;
    left: 0;
    top: 70px;
    flex-direction: column;
    width: 100%;
    background: black;
    justify-content: center;
    gap: 35px;
    box-shadow: 0px 30px 55px var(--Tittles);
    overflow: hidden;
  }
  .btn_hamburger,
  .x_btn {
    display: initial;
    color: var(--Tittles);
    background: none;
    border: none;
    font-size: 46px;
    cursor: pointer;
    z-index: 3;
  }
  .x_btn {
    font-size: 58px;
  }
  .x {
    display: initial;
    position: absolute;
    top: 20px;
    right: -20px;

    height: max-content;
  }
  li{
    right: 0;
  }
}
@media screen and (max-width: 490px) {
  #navbar_container {
    padding: 20px 20px;
  }
}
